* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}
html {
    scroll-behavior: smooth;
}
body {
    overflow-x: hidden;
    min-width: 100vw;
    background: #222;
}

.hero-header {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background: #222;
}

.wrapper {
    /* width: 1280px; */
    min-width: 95%;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    padding: 40px 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.logo i {
    height: 45px;
    width: 45px;
    background-color: #007ced;
    border-radius: 50%;
    color: #fff;
    font-weight: 700;
    font-size: 1.5rem;
    padding: 10px;
    margin-right: 5px;
    cursor: pointer;
    text-align: center;
}

.logo .logo-text {
    font-size: 24px;
    font-weight: 500;
    color: #fff;
}

nav .togglebtn {
    width: 35px;
    height: 35px;
    position: absolute;
    top: 45px;
    right: 3%;
    z-index: 5;
    cursor: pointer;
    display: none;
}

nav .togglebtn span {
    display: block;
    background-color: #007ced;
    margin: 5px 0px;
    width: 100%;
    height: 3px;
    transition: 0.3s;
    transition-property: transform, opacity;
}

nav .navlinks {
    list-style-type: none;
}

nav .navlinks li {
    display: inline-block;
}

nav .navlinks li a {
    color: #e5e5e5;
    margin-right: 2.5rem;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 4rem;
}

.container .hero-pic {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    border: 15px solid #444;
    box-shadow: 5px 7px 25px rgba(0, 0, 0, 0.5);
}

.hero-pic img {
    height: 100%;
    width: 100%;
    transition: 0.5s;
}

.hero-pic img:hover {
    transform: scale(1.2);
}

.hero-text {
    max-width: 500px;
    display: flex;
    flex-direction: column;
}

.hero-text h5 {
    color: #e5e5e5;
    font-size: 14px;
}

.hero-text h5 span {
    color: #007ced;
    font-size: 16px;
}

.hero-text h1 {
    color: #007ced;
    font-size: 3rem;
}

.hero-text p {
    color: #e5e5e5;

}

.btn-group {
    margin: 45px 0;
}

.btn-group .btn {
    border-color: #d5d5d5;
    color: #fff;
    background-color: #333;
    padding: 12px 25px;
    margin: 5px 0px;
    margin-right: 7px;
    border-radius: 30px;
    border: 2px solid #e5e5e5;
    box-shadow: 0px 10px 10px -8px rgb(0 0 0 / 70%);
}

.btn.active {
    border-color: #007ced;
}

.hero-text .social img {
    color: #e5e5e5;
    font-size: 18px;
    margin-right: 10px;
    transition: 0.5s;
}

.hero-text .social img:hover {
    transform: rotate(360deg);
    color: #007ced;
}

#skills {
    min-width: 70vw auto;
    padding: 40px 0px;
    margin-top: 90px;
    display: flex;
    justify-content: space-around;
    border-radius: 20px;
    box-shadow: 8px 8px 8px 8px rgb(15, 7, 7);
}
.h1 {
    position: inherit;
}

.web-card {
    min-width: 50vw;
    min-height: 40vh;
    display: flex;
    align-items: center;
    color: #d5d5d5;
    justify-content: space-evenly;
}

.front {
    width: 250px;
    min-height: 40vh;
    margin: 10px 0px;
    margin-left: 20px;
    border-radius: 10px;
    box-shadow: 0px 10px 10px 0px rgb(15, 7, 7);
}

.front h4 {
    text-align: center;
    padding: 10px 0;
    margin: 10px 0;
    color: #007ced;
}

.front ul {
    margin: 10px;
}

.front ul li {
    list-style-type: none;
    margin: 10px 0;
}

.back {
    width: 250px;
    min-height: 40vh;
    margin: 10px 0px;
    margin-right: 10px;
    border-radius: 10px;
    box-shadow: 0px 10px 10px 0px rgb(15, 7, 7);
}

.back h4 {
    text-align: center;
    padding: 10px 0;
    margin: 10px 0;
    color: #007ced;
}

.back ul {
    margin: 10px;
}

.back ul li {
    list-style-type: none;
    margin: 10px 0;
}

.pro-card {
    padding: 20px 0;
    min-width: 30vw auto;
    height: 60vh;
    margin-left: 30px auto;
    color: #d5d5d5;
    border-radius: 10px;
    box-shadow: 0px 10px 10px 0px rgb(15, 7, 7);
}

.pro-card h4 {
    padding: 10px 0;
    margin: 10px 0;
    text-align: center;
    color: #007ced;
}

.pro-card ul {
    list-style: none;
    margin: 0;
}

.pro-card ul li {
    margin: 20px 20px;
}

/***** PortFolio CSS **********/
.folio {
    position: relative;
    margin-top: 20vh;
    color: #d5d5d5;
}

.folio h1 {
    text-align: center;
    color: #ff5361;
}
.folio p {
    text-align: center;
}
.folio .pics {
    margin-top: 20px;
    min-height: 110vh;
    border-radius: 10px;
    box-shadow: 5px 2px 2px 5px rgb(18, 13, 13);
}
.folio .pics a {
    width: 60vw;
    height: 30vh;
    justify-content: space-around;
    margin: 40px;
    margin-top: 20px;
}
.folio .pics a img {
    margin-top: 40px;
    width: 25vw;
    height: 40vh;
}
.pics nav{
    position: relative;
    text-decoration: none;
    font-size: 25px;
    color: #ed8200;
    margin-top: 2vw;
    text-align: center;
}
.pics nav a {
    color: #007ced;
}
/* ****** Resume **********/
#resume {
    margin-top: 90px;
    color: #d5d5d5;
    opacity: 10;
}

#resume h1 {
    text-align: center;
    color: #ff5361;
}

#resume .image {
    width: 50vw;
    height: 60vh;
}
#resume .image img {
    width: 45vw;
    /* height: 80vh; */
}
.part {
    display: flex;
    justify-content: space-around;
}
.cert,
.block {
    margin: 10px;
}
.cert {
    margin: 20px;
}
.cert h3 {
    font-size: 30px;
    margin-left: 20px;
}
.block {
    width: 40vw;
    min-height: 30vh;
    border: 3px solid #534f4f;
    border-radius: 10px;
}
.block p {
    padding: 10px;
}
.block h5 {
    padding: 20px;
    color: #007ced;
    letter-spacing: normal;
}
.image {
    margin-top: 90px;
}

/* **** Mail **** */
.heading {
    color: #ff5361;
    text-align: center;
    font-size: 30px;
    margin-top: 40px;
}
.heading span {
    color: #d5d5d5;
    font-size: 15px;
}
.contact {
    
    margin-top: 0px;
    color: #d5d5d5;
}
.contact-part {
    display: flex;
    justify-content: space-evenly;
}
.contact-details {
    flex-direction: column;
    justify-content: space-evenly;
}
.contact-details,
.block-contact {
    margin: 30px;
}

.block-contact {
    background-color: #534f4f;
    width: 250px;
    height: 120px;
    border: 1px solid #ff5361;
    border-radius: 10px;
}
.contact-details h3 {
    font-size: 22px;
    color: #ff5361;
}
.block-contact img{
    position: absolute;
    margin-left: 90px;
    margin-top: 10px;
}
.block-contact p {
    position: relative;
    margin: 20px;
    margin-top: 40px;
}

.block-contact span a{
    margin-left: 60px;
    color: #007ced;
}
.contact-form nav {
    background: #534f4f;
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 35vw;
    max-width: 600px;
    border-radius: 10px;
    margin-top: 60px;
}

.contact-form nav h3 {
    color: #007ced;
    font-weight: 800;
    text-align: center;
    margin-bottom: 20px;
}

.contact-form nav input,
.contact-form nav textarea {
    border: 0;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    background: #f5f5ff;
    font-size: 16px;
    border-radius: 10px;
}

.contact-form nav button {
    padding: 15px;
    background: #ff5361;
    color: #fff;
    font-size: 18px;
    border: 0;
    outline: none;
    cursor: pointer;
    width: 150px;
    margin: 20px auto 0;
    border-radius: 30px;
}

/*********** Footer************/
.footer {
    padding: 40px;
    /* color: #d5d5d5; */
}
.footer-links {
    list-style-type: none;
    margin-top: 20px;
}

.footer-links li {
    display: inline-block;
}

.footer-links li a {
    color: #e5e5e5;
    margin-right: 2rem;
}
.footer-block-contact {
    background-color: #534f4f;
    width: 250px;
    height: 100px;
    border: 1px solid salmon;
    border-radius: 10px;
}
.footer-block-contact img {
    margin-top: 10px;
}
.footer-block-contact p {
    padding: 10px;
}

.footer-block-contact span a{
    text-align: center;
    color: #007ced;
}
.footer-contact {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.copyright {
    margin-top: 40px;
    color: #d5d5d5;
}
.icons {
    width: 20px;
    height: 20px;
    margin: auto;
    filter: brightness(0) invert(1);
}
#gotopBtn {
    position: fixed;
    width: 50px;
    height: 50px;
    background: #27ae60;
    bottom: 40px;
    right: 50px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: #f5f5ff;
    font-size: 22px;
}
/* Responsive design & displaying navbar for small screen */
@media (max-width: 930px) {
    nav .togglebtn {
        display: initial;
    }

    /* for toggle button */
    .click {
        top: 45px;
    }

    .click span {
        position: absolute;
        margin-top: 12px;
    }

    .click span:first-child {
        transform: rotate(-40deg);
    }

    .click span:nth-child(2) {
        opacity: 0;
        margin: 0;
    }

    .click span:last-child {
        transform: rotate(45deg);
        top: 0;
    }

    nav .navlinks {
        position: absolute;
        top: 110px;
        right: 0;
        display: none;
        bottom: 0;
        width: 60%;
        height: 100vh;
        background-color: #222;
        z-index: 3;
        box-shadow: 5px 13px 30px rgba(0, 0, 0, 0.1);
        transition: 0.5s;
        padding: 25px 0px;
    }

    nav .navlinks li {
        display: block;
    }

    nav .navlinks li a {
        display: block;
        margin-bottom: 15px;
        text-align: center;
    }

    nav .navlinks.open {
        display: block;
    }

    .web-card {
        display: flex;
    }
    .image {
        display: none;
    }
    .block {
        min-width: 90vw;    
    }
    .pro-card {
        margin-top: 120px;
    }
    .back {
        margin-left: -10px;
    }
    .front {
        margin-left: -30px;
    }
}
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        padding-top: 2rem;
    }

    .hero-text {
        padding: 40px 0px;
    }

    .web-card {
        flex-direction: column;
    }

    #skills {
        flex-direction: column;
        border: none;
        box-shadow: none;
    }

    .contact-part {
        display: block;
    }
    .folio .pics img{
        margin: 0px auto;
        display: block;
        width: 30vw auto;
    }
    #resume {
        margin-top:10vh;
    }
    .pics a img{
       min-width: 90vw;
    }
    .pics a{
        margin-top: 20px;
        font-size: 15px;
    }
    .contact-form {
        margin-left: 20px;
    }
    .contact-form nav {
        min-width:90%;

    }
    .footer-contact,
    .footer-block-contact {
        margin: 10px;
    }
    .footer-links {
        display: none;
    }
    
}